

body {
  font-family: Arial;
   -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
}
header{ height:150px; width:95% ; background-color:#F1F1F2; margin-left:30px; }

.periodic {
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
  margin-top:10px;
  margin-left:70px
}

.periodic-row {
  clear: both;
	  height: 10%;
	  
}

.cell {
  float: left;
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
   -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  background-color: rgba(0, 128, 128, 0.6);
}
.cell{ cursor:pointer}
.cell:hover .element {
  border-color: rgba(0,0,0,0.1);
   -webkit-transform: scale(1.5,1.5);
      -ms-transform: scale(1.5,1.5);
          transform: scale(1.5,1.5);
  z-index: 1;
  
  background-color: rgba(0, 128, 128, 0.9);
}

.at_num,
.at_details {
  position: absolute;
  font-size: 4px;
  color: rgba(255,255,255,0.5);
  opacity: 0;
}

.at_num {
  top: 4px;
  right: 5px;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -4px;
  font-size: 9px;
  line-height: 1;
  height: 9px;
  color: rgba(255,255,255,0.9);
}

.at_details {
  bottom: 4px;
  left: 0px;
  right: 0px;
  rgba(64, 192, 0, 0.9)
  #00E676
 rgba(0, 192, 64, 0.6)
  rgba(0, 160, 96, 0.9)
  rgba(0, 96, 160, 0.6)
}

.métaux_alcalins .element , .métaux_alcalins:hover .element{ background-color:#40C4FF}

.métaux_alcalino-terreux  .element , .métaux_alcalino-terreux:hover  .element{ background-color:rgba(0, 128, 128, 0.9)}

.lanthanides  .element , .lanthanides:hover .element { background-color:#fd6d3f}

.actinides .element , .actinides:hover .element  { background-color:#eaea18}

.gaz_rares .element , .gaz_rares:hover .element  { background-color:rgba(64, 192, 0, 0.9)}

.halogènes .element , .halogènes:hover .element{ background-color:#00E676}
 
.non-métaux .element , .non-métaux:hover .element{ background-color:rgba(0, 192, 64, 0.6)}

.métalloides .element ,.métalloides:hover .element  { background-color: rgba(0, 160, 96, 0.9)}

.métaux_pauvres .element , .métaux_pauvres:hover .element { background-color: rgba(0, 96, 160, 0.6)}

.cell:nth-child(1) .element {
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.cell:nth-child(18) .element {
  -webkit-transform-origin:100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.periodic-row:nth-child(10) .cell .element {
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.periodic-row:nth-child(1) .cell:nth-child(1) .element {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.periodic-row:nth-child(1) .cell:nth-child(18) .element {
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.periodic-row:nth-child(10) .cell:nth-child(18) .element {
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@media (min-width: 600px) {
  .periodic {
    height: 460px;
    margin-right: -2px;
  }
  
  .element {
    right: 2px;
    bottom: 2px;
  }
  
  .at_num,
  .at_details {
    font-size: 4px;
    opacity: 1;
  }

  .symbol {
    margin-top: -17px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 4px rgba(255,255,255,0.5);
  }
}

@media (min-width: 800px) {
  .periodic {
    height: 540px;
  }

  .symbol {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .periodic {
    height: 680px;
  }
  
  .at_num,
  .at_details {
    font-size: 5px;
  }

  .symbol {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .periodic {
    height: 800px;
  }
  
  .at_num,
  .at_details {
    font-size: 6px;
  }

  .symbol {
    font-size: 30px;
  }
}